apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: p3-cluster 
servers: 1 # Control panes
agents: 2 # Workers
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
